html {
    scroll-behavior: smooth;
}

.home {
    height: 600px;
}

.home h4 {
    padding-top: 150px;
}

section {
    padding: 5rem;
    margin-bottom: 60px;
}

section h2 {
    padding: 50px;
    text-shadow: 0 0 10px firebrick;
}

.menu .card {
    border-radius: 50px;
    transition: background 0.5s, transform 0.5s;
}

.menu .card:hover {
    transform: translateY(-15px);
}

.menu .card img {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.menu h5{
    text-shadow: 0 0 10px firebrick;
}

.kontak .contact h3 {
    padding-bottom: 30px;
}

.kontak .contact {
    padding: 20px;
}

.kontak p {
    font-size: 20px;
}

.kontak button {
    margin-top: 30px;
}

.kontak .contact a img:hover {
    height: 80px;
    transition: 0.5s;
}

footer p {
    padding-bottom: 30px;
    font-size:20px;
}