html {
    scroll-behavior: smooth;
}


.jumbotron {
    padding-top: 6rem;
}

section {
    padding-top: 5rem;
}

section {
    margin-bottom: 60px;
}

section h2 {
    padding-bottom: 50px;
}

.contact p {
    padding-bottom: 50px;
    font-size: 30px;
}

.contact button {
    padding: 20px 100px;
    margin-top: 30px;
}