nav {
    background-color: lightblue;
}


input, 
textarea {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: black;
}

.contact {
    text-align: center;
    margin: 50px;
    padding-top: 50px;
}

.contact-submit {
    background-color: lavender;
    color: black;
    cursor: pointer;
}

.contact-submit:hover {
    background-color: mediumpurple;
}
